---

---

<h5>FRIENDS AND FAMILY</h5>
<div class="linje"></div>
<h5 class="kundeservice">KUNDESERVICE</h5>
<p><strong>Man - Fre:</strong> 9:00 - 16:00</p>
<p><strong>Weekend & helligdage:</strong> Lukket</p>
<div class="SoMe">
    <a href="https://www.instagram.com/bareen/"><img src="/assets/1x/Artboard2.png" alt="23113"></a>
    <a href="https://www.facebook.com/bareentshirt"><img src="/assets/1x/Artboard3.png" alt="231dee13"></a>
</div>


<style>
.kundeservice{
    margin-bottom: 1rem;
}
    img{
width: 30px;
    }

img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
.SoMe{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 8rem;
    
}
    h5{
        margin-top: 6rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    .linje {
  width: 100%;
  height: 0.3px;
  background-color: rgb(49, 47, 47);
}
p{
    text-align: center;
}

</style>